*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;    
    justify-content: center;    
    align-items: center;
    height: 100vh;
    background-color: #202632;
}


.content{
    background-color: #687180;
    border-radius: 15px;
    width: 960px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: #313a49;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 60%;
}

.title{    
    color: #52ffa8;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary{
    color: #ccdee8;
}

.description{
    font-size: 17px;
    font-weight: 300;
    color: #ccdee8;
    line-height: 30px;
    text-align: center;
}

.btn{
    border-radius: 15px;
    color: #52ffa8;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    font-size: 12px;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #52ffa8;
    transition: 0.2s;
    margin-top: 10px
}

.btn-primary:hover{
    background-color: #52ffa8;
    color: #687180;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 25px 2px #52ffa8;
}

.btn-second{
    background-color: transparent;
    border: 1px solid #52ffa8;
    transition: 0.2s;
    margin-top: 10px
}

.btn-second:hover{
    background-color: #52ffa8;
    color: #687180;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 25px 2px #52ffa8;
}

.first-content{
    display: flex;
    display: none;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media{
    margin: 1rem 0;
}


.list-social-media{
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #52ffa8;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:#52ffa8;
    transition: 0.2s;
}

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.item-social-media:hover{
    background-color: #52ffa8;
    border-radius: 50%;
    color: #687180;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 25px 2px #52ffa8;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;

}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}

/*second-content*/
.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
}

.second-content .second-column{
    order: 1;
}